.main {

  &__content {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__controll-container {
    width: 30%;

    @media (max-width: 1135px) {
      width: 70%;
    }

    @media (max-width: 550px) {
      width: 100%;
    }
  }
}

.container {
  
}
